<script lang="ts">
  import { indexCsv } from "./fuzzytable";
  import metaphone from "metaphone";
  import levenshtein from "levenshtein-edit-distance";
  import type { PromiseExtended } from "dexie";

  let files: FileList;

  let search = "";
  let searchTable: Dexie.Table;
  let results: PromiseExtended<any[] | [any]>;
  let searchHeaders: string[];
  let searchColumn: string;

  $: if (searchTable) {
    results = searchTable
      .where("metaphone." + searchColumn)
      .startsWith(metaphone(search))
      .toArray()
      .then((res) => {
        for (const r of res) {
          r.levenshtein = levenshtein(search, r.data[searchColumn]);
        }
        return res.sort((a, b) => a.levenshtein - b.levenshtein);
      });
  }

  $: if (files) {
    for (const file of files) {
      indexCsv(file, {
        complete: (table: Dexie.Table) => {
          searchTable = table;
        },
        chooseHeaders: ({ headers, beginIndexing }) => {
          searchHeaders = headers;
          beginIndexing({ fuzzy: headers, index: [] });
        },
      });
      break;
    }
  }
</script>

<style>
  table {
    border-collapse: collapse;
    border: solid 2px;
    width: 100%;
  }

  th {
    border: solid 2px;
  }

  td {
    border: solid 1px;
  }
</style>

<label for="column">Search</label>
{#if searchHeaders}
  <select bind:value={searchColumn}>
    {#each searchHeaders as header}
      <option value={header}>{header}</option>
    {/each}
  </select>
{/if}
<label for="search">for:</label>
<input bind:value={search} />

<label for="source">in:</label>
<input bind:files name="source" type="file" accept="text/csv" />

{#if results}
  <table>
    <tr>
      {#each searchHeaders as header}
        <th>{header}</th>
      {/each}
    </tr>
    {#await results then entries}
      {#each entries as row}
        <tr>
          {#each searchHeaders as header}
            <td>{row.data[header]}</td>
          {/each}
        </tr>
      {/each}
    {/await}
  </table>
{/if}
